#restartBtn {
  display: block; 
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#restartBtn:hover {
  background: #45a049;
}


@media screen and (max-width: 600px) {

  canvas {
  width: 95vw;   
  height: 50vh;  
  display: block; 

  }

}

.directional-buttons {
    position: absolute; 
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: 40fr 60fr 40fr;
    grid-template-rows: 40fr 60fr 40fr;
    grid-template-areas: 
        "....  up  ..... "
        "left  ..  right"
        ".... down .....";
    z-index: 1000;
}
